/* GOOGLE FONT LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    font-size: 62.5%;
    
    /* FONTS */
    --main-font: "Poppins", sans-serif;
    --seconday-font: "Poppins", sans-serif;

    /* 1. font sizes for large devices */
    --large-body-text: 1.8rem;
    --large-headings: 3.5rem;
    --large-sub-heading: 3rem;

    /* 2. font sizes for medium devices */
    --medium-body-text: 1.7rem;
    --medium-headings: 3rem;
    --medium-sub-heading: 2.5rem;

    /* 3. font sizes for small devices */
    --small-body-text: 1.6rem;
    --small-headings: 2.1rem;
    --small-sub-heading: 1.8rem;


    /* COLORS */

    /* 1.background colors */
    --layer-1: #f2f2f4;
    --layer-2: #dadedf;
    --layer-3: #c1c7c9;

    --layer-4: #a7afb2;
    --layer-5: #8c979a;
    --layer-6: #6f7c80;

    --layer-7: #555f61;
    --layer-8: #373d3f;
    --layer-9: #131516;

    --brand-color: #00aa90;

    /* 2.text colors */
    --heading-color: #131516;
    --sub-heading-color: #373d3f;
    --body-text-color: #555f61;

    /* 3.ctr colors */
    --ctr-background-color: var(--brand-color);

}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
}


/* GLOBAL STYLING VARIABLES */
.container{
    max-width: 1280px;
    padding: 0 50px;
    margin: auto;
}
.cta{
    border: none;
    display: inline-block;
    color: #fff;
    background-color: var(--ctr-background-color);
    padding: 10px 15px;
    font-size: var(--large-body-text);
    text-transform: capitalize;
    border-radius: 10px;
    line-height: 25px;
    
}


/* HEADER SECTION >>>>>>>> */
#header-sec{
    background-color: var(--layer-2);

    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;

    z-index: 5;
}
#header-sec .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}
#header-sec .container .row .logo h2{
    font-size: var(--large-sub-heading);
    cursor: pointer;
}
#header-sec .container .row nav ul li{
    display: inline-block;
    margin: 0 5px;
}
#header-sec .container .row nav ul li a{
    color: var(--body-text-color);
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 200;
    margin: 0 5px;
    padding: 10px 10px;
}

#header-sec .container .row .nav-btn{
    width: 50px;
    height: 35px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;

    display: none;

    position: relative;
    
}
#header-sec .container .row .nav-btn .bar{
    width: 65%;
    height: 3px;
    background-color: var(--layer-9);

    position: absolute;
    top: 14px;
    left: 7px;
}
#header-sec .container .row .nav-btn .bar::before,
#header-sec .container .row .nav-btn .bar::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--layer-9);

    position: absolute;
}
#header-sec .container .row .nav-btn .bar::before{
    top: -7px;
    left: 0px;
}
#header-sec .container .row .nav-btn .bar::after{
    top: 7px;
    left: 0px;
    width: 70%;
}
/* HEADER SECTION <<<<<<<< */





/* index.html >>>>>>>>>> */
#hero-sec{
    background-color: var(--layer-1);
    min-height: 100vh;

    /* position: relative;
    top: 86px; */
}
#hero-sec .container{
    max-width: 100%;
    padding: 0 50px;
}
#hero-sec .container .row{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;

    min-height: 100vh;
    margin-top: 75px;
}
#hero-sec .container .row .col-1{
    width: 50%;
    max-width: 640px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero-sec .container .row .col-1 .profession-title{
    font-size: var(--large-headings);
    text-transform: capitalize;
    line-height: 40px;
    word-spacing: 8px;
}
#hero-sec .container .row .col-1 .profession-description{
    font-size: var(--large-body-text);
    line-height: 30px;
    margin: 30px 0;
}
#hero-sec .container .row .col-2{
    width: 48%;
    max-width: 614px;
    background-color: var(--brand-color);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-sec .container .row .col-2 img{
    width: 80%;
}
/* index.html <<<<<<<<<< */





/* FOOTER SECTION >>>>>>>> */
#footer-sec{
    background-color: var(--layer-2);
    
    /* position: relative;
    top: 86px; */
}
#footer-sec .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 20px 0;
}
#footer-sec .container .row .credit-text{
    font-size: var(--large-body-text);
    font-weight: 700;
}
#footer-sec .container .row .social-links li{
    display: inline-block;
}
#footer-sec .container .row .social-links li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;

    margin: 0 5px;
}
#footer-sec .container .row .social-links li a img{
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 5px;
}
/* FOOTER SECTION <<<<<<<< */






/* RESPONSIVE DESIGN >>>>>>>> */

/* MEDIUM DEVICES */
@media only screen and (max-width: 1007px){
    #header-sec .container .row .logo h2{
        font-size: var(--medium-sub-heading);
    }
    #header-sec .container .row nav{
        position: absolute;
        top: 75px;
        left: 0;

        background-color: var(--layer-3);
        min-width: 100%;
        overflow: hidden;
        z-index: 5;

        display: none;
    }
    #header-sec .container .row nav ul li{
        display: block;
        width: 100%;

        padding: 0;
        margin: 10px 0;
    }
    #header-sec .container .row nav ul li a{
        /* background-color: #00aa90; */
        padding: 10px 30px;
        margin: 0;

        display: block;
    }
    #header-sec .container .row .nav-btn{
        display: block;
    }


    #hero-sec{
        /* top: 78px; */
        min-height: auto;
    }
    #hero-sec .container{
        max-width: 100%;
        padding: 0 0;
    }
    #hero-sec .container .row{
        flex-direction: column;
        height: auto;

        min-height: auto;
    }
    #hero-sec .container .row .col-1{
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 100px 100px;
    }
    #hero-sec .container .row .col-1 .profession-title{
        font-size: var(--medium-headings);
        line-height: 40px;
    }
    #hero-sec .container .row .col-2{
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 50px 30px;
    }
    #hero-sec .container .row .col-2 img{
        width: 50%;
    }


    /* #footer-sec{
        top: 78px;
    } */
    #footer-sec .container .row{
        flex-direction: column;
    }
}

/* SMALL DEVICES */
@media only screen and (max-width: 640px){
    #header-sec .container .row .logo h2{
        font-size: var(--small-sub-heading);
    }


    /* #hero-sec{
        top: 75px;
    } */
    #hero-sec .container .row .col-1{
        padding: 60px 30px;
    }
    #hero-sec .container .row .col-1 .profession-title{
        font-size: var(--small-headings);
        line-height: 40px;
    }
    #hero-sec .container .row .col-1 .profession-description{
        font-size: var(--small-body-text);
        margin: 15px 0;
    }
    #hero-sec .container .row .col-1 .cta{
        font-size: var(--small-body-text);
    }
    #hero-sec .container .row .col-2 img{
        width: 80%;
    }




    /* #footer-sec{
        top: 75px;
    } */
    #footer-sec .container .row .credit-text{
        font-size: var(--small-body-text);
    }
}

/* RESPONSIVE DESIGN <<<<<<<< */
